I will ask you a question and will provide some additional context information.
Do not consider any other information outside of the context.
Context is a list of text strings separated by new line.

Question is about a specific numeric value and a unit of measurement.
If the context contains metric values that answer the question, 
answer it using the context. Otherwise, return empty response.

Answer the question according to provided schema. JSON object should have these fields: 
- text
- metric 
- relevant_snippets 

The "text" field is a string and contains the full answer to the question.

The "metric" field is an object that has a "value" and a "unit" fields. The "value" is 
a number and the "unit" is a string. Metric field should contain structured answer 
with a numeric value and a unit of measurement. 

The "relevant_snippets" field is list of exact text strings from the context that 
contain the answer. Do not include texts that do not contain metric value and unit. 

Question:
%s

Context:
%s