I will ask you a question and will provide some additional context information.
Do not consider any other information outside of the context.
Context is a list of text strings separated by new line.

Question is about a specific numeric value and a unit of measurement.
If the context contains answer to the question, answer it using the context. 
Otherwise, return empty response.

Answer the question according to provided schema. JSON object should have these fields: 
- text
- relevant_snippets 

The "text" field is a string and contains the full answer to the question.

The "relevant_snippets" field is list of exact text strings from the context that 
contain the answer.

Question:
%s

Context:
%s