I will ask you a question and will provide some additional context information.
Do not consider any other information outside of the context.
Context is a list of text strings separated by new line.

Question is a yes/no question that can be answered with true or false.
If the context contains answer to the question, answer it using the context. 
Otherwise, return empty response.

Answer the question with a valid JSON object. JSON object should have these fields: 
- text
- boolean
- relevant_snippets 

The "text" field is a string and contains the full answer to the question.

The "boolean" field should be set to true if the answer to the question is yes 
and false if the answer is no.

The "relevant_snippets" field is list of exact text strings from the context that 
contain the answer.

Question:
%s

Context:
%s