I will ask you a question and will provide some additional context information.
Assume the context information is factual and correct and do not consider any
other information outside of the context. Assume the question relates to a
specific company and the context is about that commpany.

Context is a list of quoted strings that are relevant to the question. Each 
quoted string is on a separate line.

If the question relates to the context, answer it using the context.
If the question does not relate to the context, simply return empty response.

Answer the question with a valid JSON object. JSON object should have free fields: 
a text field, a metric field and a relevant_documents field. 

The text field is a string. Text field should contain full answer to the question.

The relevant_documents field should contain list of relevant lines from the context  
that were used to answer the question.

Question:
%s

Context:
%s